fastapi
uvicorn[standard]
python-dotenv
langchain
langchain-community
langchain-pinecone
langchain-google-genai
langchain-huggingface
pinecone
jinja2
python-multipart
redis
supabase
passlib[bcrypt]
unstructured[all-docs]